@font-face {
    font-family: "helvatica-regular";
    src: url("../fonts/helvetica-neue/HelveticaNeueMedium.otf");
}

@font-face {
    font-family: "helvatica-light";
    src: url("../fonts/helvetica-neue/HelveticaNeueLight.otf");
}

@font-face {
    font-family: "helvatica-bold";
    src: url("../fonts/helvetica-neue/HelveticaNeueBold.otf");
}

@font-face {
    font-family: "helvatica-italic";
    src: url("../fonts/helvetica-neue/HelveticaNeueLightItalic.otf");
}
@font-face {
    font-family: "alegreya-sc_medium";
    src: url("../fonts/Alegreya_SC/AlegreyaSC-Medium.ttf");
}

@font-face {
    font-family: "alegreya-sc_regular";
    src: url("../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf");
}

@font-face {
    font-family: "nixie-regular";
    src: url("../fonts/Nixie_One/NixieOne-Regular.ttf");
}

@font-face {
    font-family: "alegreya-sans-medium";
    src: url("../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf");
}

/* BASIC STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
}

html {
    font-family: helvatica-light, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #6a6a6a;
}

/* ! HEADER */

/* # HEADER */
header {
    background-image: url("../img/img_header/img_header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 32px;
}
/* # NAV */
nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger-wrapper {
    cursor: pointer;
}

.burger {
    background-color: white;
    width: 30px;
    height: 4px;
    margin: 3px;
    border-radius: 1px;
}

.logo {
    font-family: alegreya-sc_regular, Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    font-weight: 100;
}

.logo:hover {
    cursor: pointer;
    text-decoration: 1px underline;
}

/* # Article */

header article {
    margin-top: 30vh;
    text-align: center;
}

header article h1 {
    font-family: nixie-regular;
    font-size: 5.6rem;
    color: white;
    font-weight: 100;
}

header article p {
    font-family: alegreya-sc_regular;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2.2rem;
}

/* ! MAIN */

/* Klasse die mehrmals verwendet wird in Section works und Section Blog*/
/* .headline */
/* .works-blog-headline */
/* .services-contact-headline */
/* .btn-white Button */
/* .btn-white-img-box Button  */

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.works-blog-headline h2 {
    color: #3a4f52;
    font-family: alegreya-sans-medium;
    font-size: 3.6rem;
    margin-bottom: 3%;
}

.works-blog-headline p {
    font-size: 1.4rem;
}

.view-all-btn a {
    border: 1px solid #3a4f52;
    font-family: helvatica-light;
    font-size: 1.8rem;
    color: #3a4f52;
    padding: 12px;
    transition: 0.3s;
}

.view-all-btn a:hover {
    background-color: rgb(69, 89, 92);
    color: white;
}

/* * btn-white Button */
.btn-white a {
    border: 1px solid white;
    font-family: helvatica-light;
    font-size: 1.8rem;
    color: white;
    padding: 12px;
    transition: 0.3s;
    border-radius: 2px;
}

.btn-white a:hover {
    background-color: white;
    color: #3a4f52;
}

/* * btn-white-img-box Button */
.btn-white-img-box a {
    border: 1px solid white;
    font-family: helvatica-light;
    font-size: 1.8rem;
    color: white;
    padding: 12px;
    transition: 0.3s;
    border-radius: 2px;
}

.btn-white-img-box a:hover {
    background-color: white;
    color: #3a4f52;
}

.services,
.quote-box,
.contact-box {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px 32px 40px 32px;
}

.services-contact-headline h2 {
    text-align: center;
    font-family: alegreya-sans-medium;
    font-size: 3.6rem;
    font-weight: 100;
    margin-bottom: 20px;
    color: white;
}

.services-contact-headline p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 60px;
    color: white;
}

/* # Section works */

.works {
    padding: 56px 160px 88px 160px;
}

/* -- Positionierung des btn wird mit margin-left durchgeführt */
.btn-white-img-box {
    margin-left: -16vw;
    z-index: 2;
    display: none;
}

/* -- img-gallery mit Display: grid für die bessere Positionierung der img  */
.img-gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "img1 img2 img3"
        "img4 img5 img6";
    gap: 30px;
}

.img1 {
    grid-area: img1;
    width: 100%;
}

.img2 {
    grid-area: img2;
    width: 100%;
}

.img3 {
    width: 100%;
    grid-area: img3;
}

.img4 {
    width: 100%;
    grid-area: img4;
}

.img5 {
    width: 100%;
    grid-area: img5;
}

.img6 {
    width: 100%;
    grid-area: img6;
}

.img-box {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
}


/* -- Zoom-in Aninmation beim hover */
/* -- .btn-white-img-box wird bei hover von .img-box eingeblendet */
/* -- ! WICHTIG: .img-box benötigt einen z-index: 1 und .btn-white-img-box z-index: 2*/

.img-box img {
    transition: 0.3s linear;
    z-index: 1;
}

.img-box:hover {
    transition-delay: 50ms;
    background-color: #3a4f52;
}

.img-box:hover > img {
    transform: scale(1.4);
    opacity: 0.3;
}

.img-box:hover > .btn-white-img-box {
    display: block;
}

/* # Section services */

.services-background {
    background: url("../img/img_main_service/services.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 80px 135px;
}

.service-boxes {
    display: flex;
    gap: 100px;
}

.box-service {
    text-align: center;
}

.box-service h5 {
    font-size: 3rem;
    font-family: alegreya-sans-medium;
    margin-bottom: 30px;
}

.box-service p {
    margin: auto;
    line-height: 20px;
}

/* # Section blog */

.blog {
    padding: 56px 160px 88px 160px;
}

.blog-boxes {
    display: flex;
    gap: 24px;
}

.box-blog {
    flex-basis: 80%;
}

.box-blog img {
    width: 100%;
    margin-bottom: 15px;
}

.box-blog h6 {
    font-family: alegreya-sans-medium;
    font-size: 3rem;
    color: #3a4f52;
    margin-bottom: 16px;
}

.blog-date {
    font-family: helvatica-italic;
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.blog-text {
    line-height: 20px;
    font-size: 1.4rem;
    margin-bottom: 24px;
}

.read-more a {
    color: #4da7ca;
}
.read-more a:hover {
    text-decoration: underline #4da7ca;
}
/* # Section quote */

.quote {
    background: url("../img/img_main_qoute/parallax.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 80px 135px;
    margin-bottom: 60px;
}

.quote-box p:nth-of-type(1) {
    font-family: alegreya-sans-medium;
    font-size: 3.6rem;
    margin-bottom: 60px;
}

.quote-box p {
    text-align: center;
}

.btn-white a {
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-family: helvatica-light;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    transition: 0.3s;
}

/* #Section testi */

.testi {
    margin-bottom: 88px;
}

.testi h2 {
    text-align: center;
    font-family: alegreya-sans-medium;
    font-size: 3.6rem;
    font-weight: 100;
    margin-bottom: 20px;
    counter-reset: #3a4f52;
}

.testi-head {
    margin-bottom: 88px;
}

.testi p {
    text-align: center;
    font-size: 1.4rem;
}

.testi-boxes {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.box-testi {
    text-align: center;
    flex-basis: 17%;
}

.box-testi img {
    margin-bottom: 16px;
}

.box-testi p:nth-of-type(1) {
    font-size: 1.4rem;
    line-height: 20px;
    margin-bottom: 24px;
}

.box-testi p:nth-of-type(2) {
    font-size: 1.4rem;
    font-family: helvatica-bold;
    line-height: 24px;
}

.box-testi p:nth-of-type(3) {
    font-size: 1.4rem;
}
/* # Section contact */
.contact {
    background: url("../img/img_main_contact/contact.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 135px;
}

.input-fields input,
.input-fields textarea {
    margin: auto;
    display: block;
    width: 40vw;
    margin-bottom: 20px;
    height: 34px;
    background-color: rgba(1, 1, 1, 0);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.8);
}

.input-fields textarea {
    min-height: 50px;
    height: 50px;
    resize: vertical;
    margin-bottom: 30px;
}
.input-fields input::placeholder,
.input-fields textarea::placeholder {
    color: rgba(255, 255, 255, 0.614);
}

.contact-box p {
    text-align: center;
}
/* ! FOOTER */
footer {
    background-color: rgb(43, 62, 82);
    padding: 50px;
}

footer p {
    color: white;
    font-size: 1.4rem;
}

/* ---- Media-Queries sind in einer eigenen Datei "../asset/css/media_queries.css" ausgelagert */
